<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <title>Changelog | API de candidatas y candidatos a elecciones de México 2021</title>
</head>
<body>

    <h1>Changelog | API de candidatas y candidatos a elecciones de México 2021</h1>
    </br>
    <pre>
               __________
             .'----------`.
             | .--------. |
             | | --  -- | |
             | |\______/| |      /__________\\
    .--------| `--------' |------|    --=-- |-------------.
    |        `----,-.-----'      |o ======  |             |
    |       ______|_|_______     |__________|             |
    |      /  %%%%%%%%%%%%  \                             |
    |     /  %%%%%%%%%%%%%%  \     CHANGELOG              |
    |     ^^^^^^^^^^^^^^^^^^^^                            |
    +-----------------------------------------------------+
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    </pre>

    <h2>Changelog</h2>

    <h3>2021/05/22</h3>
    <ul>
        <li>Generales:</li>
        <ul>
            <li>204 personas agregadas</li>
            <li>115 personas nuevas a presidencia municipal</li>
            <li>89 personas nuevas en diputaciones (entraron por declinación de la persona titular)</li>
            <li>+12 personas con corrección de first y last name</li>
            <li>+ 3  Nickname</li>
            <li>+154 páginas de Facebook</li>
            <li>+67 perfiles de Facebook</li>
            <li>+52 perfiles de Instagram</li>
            <li>+27 perfiles de Twitter</li>
            <li>+27 websites</li>
            <li>+21 Fechas de Nacimiento</li>
            <li>+ 72 Fotos</li>
        </ul>

        <li>Diputaciones:</li>
        <ul>
            <li>Actualizaciones:</li>
            <ul>
                <li>Coahuila: 52 personas actualizadas.</li>
                <li>Colima: 1 persona actualizada.</li>
                <li>Guanajuato: 26 personas actualizadas.</li>
                <li>Morelos: 31 personas actualizadas.</li>
                <li>Nuevo León: 85 personas actualizadas</li>
                <li>Puebla: 15 personas actualizadas</li>
                <li>Querétaro: 16 personas actualizadas.</li>
                <li>San Luis Potosí: 15 personas actualizadas</li>
                <li>Sinaloa: 2 personas actualizadas</li>
                <li>Tabasco: 20 personas actualizadas</li>
                <li>Zacatecas: 5 personas actualizadas.</li>
            </ul>
            <li>Sustitutos (personas que entran por declinación de candidatx titular)</li>
            <ul>
                <li>Aguascalientes:  3 personas agregadas</li>
                <li>Chiapas: 5 personas agregadas</li>
                <li>Chihuahua:	3 personas agregadas</li>
                <li>Ciudad de México: 4 personas agregadas</li>
                <li>Estado de México: 21 personas agregadas</li>
                <li>Guanajuato: 9 personas agregadas</li>
                <li>Guerrero: 1 persona agregada.</li>
                <li>Hidalgo: 1 persona agregada.</li>
                <li>Michoacán de Ocampo: 6 personas agregadas.</li>
                <li>Morelos: 1 persona agregada.</li>
                <li>Nayarit: 1 persona agregada.</li>
                <li>Nuevo León: 2 personas agregadas.</li>
                <li>Oaxaca: 3 personas agregadas.</li>
                <li>Puebla: 2 personas agregadas.</li>
                <li>Quintana Roo: 1 personas agregada.</li>
                <li>San Luis Potosí: 3 personas agregadas.</li>
                <li>Sonora: 1 persona agregada.</li>
                <li>Tabasco: 4 personas agregadas.</li>
                <li>Tlaxcala: 2 personas agregadas.</li>
                <li>Veracruz de Ignacio de la Llave: 6 personas agregadas.</li>
                <li>Yucatán: 2 personas agregadas.</li>
                <li>Zacatecas: 2 personas agregadas.</li>
            </ul>
        </ul>

        <li>Presidencias Municipales:</li>
        <ul>
            <li>Álvaro Obregón: 2 personas actualizadas.</li>
            <li>Azcapotzalco: 2 personas actualizadas.</li>
            <li>Benito Juárez: 2 personas actualizadas.</li>
            <li>Coyoacán: 2 personas actualizadas.</li>
            <li>Cuajimalpa de Morelos: 6 personas actualizadas.</li>
            <li>Cuauhtémoc: 7 personas actualizadas.</li>
            <li>Gustavo A. Madero: 6 personas actualizadas.</li>
            <li>Iztacalco: 7 personas actualizadas.</li>
            <li>Iztapalapa: 5 personas actualizadas.</li>
            <li>Magdalena Contreras: 5 personas actualizadas.</li>
            <li>Miguel Hidalgo: 8 personas actualizadas.</li>
            <li>Milpa Alta: 4 personas actualizadas.</li>
            <li>Tláhuac: 4 personas actualizadas.</li>
            <li>Tlalpan: 4 personas actualizadas.</li>
            <li>Venustiano Carranza: 2 personas actualizadas.</li>
            <li>Xochimilco: 5 personas actualizadas.</li>
            <li>Tlanepantla: 6 personas actualizada.</li>
            <li>Cuautitlán Izcalli: 4 personas actualizadas.</li>
            <li>Tecámac: 7 personas actualizadas.</li>
            <li>Ixtapaluca: 3 personas actualizadas.</li>
        </ul>

        <li>Ciudades agregadas</li>
        <ul>
            <li>Oaxaca: 6 personas nuevas.</li>
            <li>Xalapa: 6 personas nuevas.</li>
            <li>Guanajuato: 9 personas nuevas.</li>
            <li>Zacatecas: 8 personas nuevas.</li>
            <li>Campeche: 6 personas nuevas.</li>
            <li>Guadalajara: 14 personas nuevas.</li>
            <li>Puebla: 8 personas nuevas.</li>
            <li>Mexicali: 10 personas nuevas.</li>
            <li>Tlaxcala: 9 personas nuevas.</li>
            <li>Chetumal: 6 personas nuevas.</li>
            <li>Mérida: 10 personas nuevas.</li>
            <li>La Paz: 7 personas nuevas.</li>
            <li>Colima: 8 personas nuevas.</li>
        </ul>
        <li><a href="https://github.com/Socialtic/mx-elections-2021/releases/tag/1.3">GitHub version</a></li>
    </ul>

    <h3>2021/05/15</h3>
    <ul>
        <li>Generales:</li>
        <ul>
            <li>16 personas eliminadas (por duplicidad)</li>
            <li>19 personas con corrección en nombres</li>
            <li>18 personas nuevas en diputaciones (entraron por declinación de la persona titular)</li>
            <li>~320 fotos nuevas de personas candidatas</li>
            <li>¡Llegamos a los 7K de URLs mapeadas!</li>
        </ul>
        
        <li>Diputaciones:</li>
        <ul>
            <li>Quintana Roo: 10 personas actualizadas</li>
            <li>Tabasco: 10 personas actualizadas</li>
            <li>Yucatán: 25 personas actualizadas</li>
            <li>Michoacán: 56  personas actualizadas, 14 Fechas de nacimiento (nuevas)</li>
            <li>Durango: 21 personas actualizadas</li>
            <li>Aguascalientes: 14 personas actualizadas</li>
            <li>Baja California: 23 personas actualizadas</li>
            <li>Baja California Sur: 6 personas actualizadas</li>
            <li>Campeche: 8 personas actualizadas</li>
            <li>Guanajuato: 15 personas actualizadas</li>
            <li>Jalisco: 8 personas actualizadas</li>
        </ul>
        
        <li>Gubernaturas:</li>
        <ul>
            <li>Baja California Sur: 3 personas actualizadas</li>
            <li>Campeche: 2 personas actualizadas</li>
            <li>Chihuahua: 2 personas actualizadas</li>
            <li>Colima: 1 persona actualizada</li>
            <li>Guerrero: 1 persona actualizada</li>
            <li>Zacatecas: 1 persona actualizada</li>
        </ul>
        
        <li>Presidencias municipales:</li>
        <ul>
            <li>Aguascalientes, Aguascalientes: 2 personas actualizadas</li>
            <li>Tijuana, Baja California: 1 persona actualizada</li>
            <li>Tuxtla Gutiérrez, Chiapas: 1 persona actualizada</li>
            <li>Chihuahua, Chihuahua: 1 persona actualizada</li>
            <li>Saltillo, Coahuila de Zaragoza: 6 personas actualizadas</li>
            <li>Juárez, Chihuahua: 1 persona actualizada</li>
            <li>Torreón, Coahuila de Zaragoza: 4 personas actualizadas</li>
            <li>Atizapán de Zaragoza, Estado de México: 4 personas actualizadas</li>
            <li>Chimalhuacán, Estado de México : 5 personas actualizadas</li>
            <li>Ixtapaluca, Estado de México: 1 persona actualizada</li>
            <li>Naucalpan, Estado de México: 1 persona actualizada</li>
        </ul>
        <li><a href="https://github.com/Socialtic/mx-elections-2021/releases/tag/1.2">GitHub version</a></li>
    </ul>

    <h3>2021/05/11 (1.1)</h3>
    <ul>
        <li>60 personas nuevas</li>
        <li><a href="https://github.com/Socialtic/mx-elections-2021/releases/tag/1.1">GitHub version</a></li>
    </ul>

    <h3>2021/05/10 (1.0)</h3>
    <ul>
        <li>Primera versión pública</li>
        <li><a href="https://github.com/Socialtic/mx-elections-2021/releases/tag/1.0">GitHub version</a></li>
    </ul>

</body>
</html>