<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <title>Changelog | API de candidatas y candidatos a elecciones de Argentina 2021</title>
</head>
<body>

    <h1>Changelog | API de candidatas y candidatos a elecciones de Argentina 2021</h1>
    </br>
    <pre>
               __________
             .'----------`.
             | .--------. |
             | | --  -- | |
             | |\______/| |      /__________\\
    .--------| `--------' |------|    --=-- |-------------.
    |        `----,-.-----'      |o ======  |             |
    |       ______|_|_______     |__________|             |
    |      /  %%%%%%%%%%%%  \                             |
    |     /  %%%%%%%%%%%%%%  \     CHANGELOG              |
    |     ^^^^^^^^^^^^^^^^^^^^                            |
    +-----------------------------------------------------+
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    </pre>

    <h2>Changelog</h2>

    <h3>2021/11/03 (1.0)</h3>
    <ul>
        <li>¡Primera versión pública!</li>
        <li>Generales</li>
        <ul>
            <li>1421 personas mapeadas</li>
            <li>1996 URLs</li>
            <li>200 adscripciones politicas (memberships)</li>
            <li>32 contiendas politicas</li>
            <ul>
                <li>24 diputaciones</li>
                <li>8 senadurias</li>
            </ul>
            <li>92 partidos politicos</li>
        </ul>
        <li><a href="https://github.com/Socialtic/api-politica/releases/tag/ar-1.0">GitHub version</a></li>
    </ul>

    <h2>Aviso de Privacidad</h2>
    Te invitamos a conocer nuestro <a href="https://socialtic.org/aviso-de-privacidad/">aviso de privacidad</a>.
</body>
</html>