<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <title>Changelog | API de candidatas y candidatos a elecciones de Argentina 2021</title>
</head>
<body>

    <h1>Changelog | API de candidatas y candidatos a elecciones de Argentina 2021</h1>
    </br>
    <pre>
               __________
             .'----------`.
             | .--------. |
             | | --  -- | |
             | |\______/| |      /__________\\
    .--------| `--------' |------|    --=-- |-------------.
    |        `----,-.-----'      |o ======  |             |
    |       ______|_|_______     |__________|             |
    |      /  %%%%%%%%%%%%  \                             |
    |     /  %%%%%%%%%%%%%%  \     CHANGELOG              |
    |     ^^^^^^^^^^^^^^^^^^^^                            |
    +-----------------------------------------------------+
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    </pre>

    <h2>Changelog</h2>

    <h3>2021/11/03 (1.0)</h3>
    <ul>
        <li>Primera versión pública</li>
        <li><a href="https://github.com/Socialtic/api-politica/releases/">GitHub version</a></li>
    </ul>

    <h2>Aviso de Privacidad</h2>
    Te invitamos a conocer nuestro <a href="https://socialtic.org/aviso-de-privacidad/">aviso de privacidad</a>.
</body>
</html>