<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <title>Error | API de candidatas y candidatos a elecciones de México 2021</title>
</head>
<body>

    <h1>API de candidatas y candidatos a elecciones de México 2021</h1>
    </br>
    <pre>
               __________
             .'----------`.
             | .--------. |
             | | XX  XX | |
             | |\/\/\/\/| |      /__________\\
    .--------| `--------' |------|    --=-- |-------------.
    |        `----,-.-----'      |o ======  |             |
    |       ______|_|_______     |__________|             |
    |      /  %%%%%%%%%%%%  \                             |
    |     /  %%%%%%%%%%%%%%  \       ERROR                |
    |     ^^^^^^^^^^^^^^^^^^^^                            |
    +-----------------------------------------------------+
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    </pre>
    </br>
    <h2>:'(</h2>
    Algo salio mal. ¿Será que no seguiste los <a href="https://www.apielectoral.mx/">pasos de la página de inicio</a>?
    <h2>¡Más enlaces!</h2>
    Para conocer más acerca del proyecto, te recomendamos visitar el repositorio de GitHhub y nuestras redes sociales.
    </br>
    <ul>
        <li><a href="https://github.com/SocialTIC/mx-elections-2021">Repositorio de GitHub</a></li>
        <li><a href="https://socialtic.org">Sitio de SocialTIC</a></li>
        <li><a href="https://www.facebook.com/Socialtic/">Facebook de SocialTIC</a></li>
        <li><a href="https://twitter.com/socialtic/">Twitter de SocialTIC</a></li>
        <li><a href="https://www.instagram.com/socialtic/">Instagram de SocialTIC</a></li>
    </ul>

</body>
</html>