<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tu token para acceder a la API Electoral</title>
</head>
<body>

    <h1>Aquí tienes tu token.</h1>
    </br>
    <pre>
               __________
             .'----------`.
             | .--------. |
             | |########| |
             | |########| |      /__________\\
    .--------| `--------' |------|    --=-- |-------------.
    |        `----,-.-----'      |o ======  |             |
    |       ______|_|_______     |__________|             |
    |      /  %%%%%%%%%%%%  \                             |
    |     /  %%%%%%%%%%%%%%  \                            |
    |     ^^^^^^^^^^^^^^^^^^^^                            |
    +-----------------------------------------------------+
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    </pre>
    </br>
    <h2>Detalles</h2>
    <ul>
        <li><b>Token:</b> {{id_token}}</li>
        <li><b>Duración:</b> 4 horas (después de las cuales deberás volverte a firmar <a href="https://mx-elections-2021-api.auth.us-east-2.amazoncognito.com/login?client_id=6db6blllaim1ebqnefoe61bn9l&response_type=token&scope=email+openid&redirect_uri=https://www.candidaturas.mx/token">aquí</a></li>

    </ul>
    <pre>
        Asigna este token a un header con nombre <b><code>Authorization</code></b></pre>
    </pre>

</body>
</html>